#edit, #invite, #cancel, #showAttendance, #addComment, button#attendance{
  display: block;
	background-color:#44c767;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
  border: 2px solid #5cbf2a;
	text-shadow:0px 1px 0px #2f6627;
}
#edit, #invite, #cancel, #showAttendance, button#attendance :hover {
	background-color:#5cbf2a;
}
#edit, #invite, #cancel, #showAttendance, button#attendance :active {
	position:relative;
	top:1px;
}

p.noEvent {
  padding: 1em;
  background-color: #ffffff;
  position:relative;
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  width:  50%;
  font-family: "Helvetica", Arial, sans-serif;
}

#addComment{
  margin-top: 5px;
}

img#image{
  float: left;
  margin: 10px 15px 10px 0;
}

img#commentImg{
  float: left;
  margin: 10px 15px 10px 0;
}


html, body {
  margin: 0em;
  margin-top: 40px;
  padding: 0em;
  background-color: #5cbf2a;
}

div#event_item {
  padding: 1em;
  background-color: #ffffff;
  position:relative;
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  width:  50%;
  font-family: "Helvetica", Arial, sans-serif;
}

div#comments {
  padding: 1em;
  background-color: #ffffff;
  position:relative;
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  width:  50%;
  font-family: "Helvetica", Arial, sans-serif;
}

div.comment {
  border-radius: 5px;
  background-color: #ffff99;
  padding: 1em;
  position:relative;
  font-family: "Helvetica", Arial, sans-serif;
}

div#new_comment > textarea {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica", Arial, sans-serif;
  margin: 0.1;
  width: 100%;
  height: 50px;
}

div#options{
  clear: both;
}

a#userRef{
  text-decoration: none;
  font-weight: bold;
  font-family: "Helvetica", Arial, sans-serif;
}

label {
  display: inline;
  font-weight: normal;
}
