* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  margin: 0em;
  padding: 0em;
  background-color: #5cbf2a;
}


/*
 * Segment for header
 *
**/

div#floatingHeader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: green;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  z-index:10;
}

div#floatingHeader > input{
  outline: none;
  padding: 3px 0px 3px 3px;
  border: 1px solid #DDDDDD;
  border-radius:7px;
}

div#floatingHeader > input:focus{
  box-shadow: 0 0 5px #44c767;
  padding: 3px 0px 3px 3px;
  border: 1px solid #44c767;
}

@media screen and (min-width:810px) {
  div#floatingHeader > input{
    width:400px;
    margin-right: 25px;
    margin-left: 25px;
  }
  div#floatingHeader > a{
    margin-right: 10px;
    margin-left: 10px;
    line-height: 25px;
  }
}
@media screen and (max-width:809px) and (min-width:570px){
  div#floatingHeader > input{
    margin-right: 25px;
    margin-left: 25px;
  }
  div#floatingHeader > a{
    margin-right: 10px;
    margin-left: 10px;
    line-height: 25px;
  }
}
@media screen and (max-width:569px) {
  div#floatingHeader > a{
    line-height: 25px;
  }
  div#floatingHeader > input{
    width:100px;
  }
}

.myButton {
	background-color:#44c767;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
  border: 2px solid #5cbf2a;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}



body {
  margin-top: 40px;
}
