button#loadAttendedEvents{
  display: block;
  background-color:#44c767;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  text-decoration:none;
  border: 2px solid #5cbf2a;
  text-shadow:0px 1px 0px #2f6627;
}

button#loadAttendedEvents:hover {
  background-color:#5cbf2a;
}

button#loadAttendedEvents:active{
  position:relative;
  top:1px;
}

html, body {
  margin: 0em;
  padding: 0em;
  background-color: #5cbf2a;
}

div#attending, div#attended {
  clear: both;
  padding: 1em;
  background-color: #ffffff;
  position:relative;
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  width:  50%;
  font-family: "Helvetica", Arial, sans-serif;
}

div.shortEvent {
  clear: both;
}

div#attending a:link, div#attended a:link{
  color: black;
  font-weight: bold;
  font-family: "Helvetica", Arial, sans-serif;
}

div#attending a:visited, div#attended a:visited{
  color: #2e2e1f;
  font-weight: bold;
  font-family: "Helvetica", Arial, sans-serif;
}


label {
  display: inline;
  font-weight: normal;
}

img{
  float: left;
  margin: 10px 10px 10px 10px;
}

img.waiting{
  float: none;
  margin: 10px 10px 10px 10px;
}
