input#editUser, input#deleteUser {
  display: block;
	background-color:#44c767;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	text-decoration:none;
  border: 2px solid #5cbf2a;
	text-shadow:0px 1px 0px #2f6627;
}

input#editUser, input#deleteUser:hover {
	background-color:#5cbf2a;
}

input#editUser, input#deleteUser:active {
	position:relative;
	top:1px;
}

html, body {
  margin: 0em;
  padding: 0em;
  background-color: #5cbf2a;
}

div#user_page {
  padding: 1em;
  background-color: #ffffff;
  position:relative;
  top: 10%;
  bottom: 10%;
  left: 15%;
  right: 15%;
  width:  50%;
  font-family: "Helvetica", Arial, sans-serif;
}


div#user_page a:link{
  color: black;
  font-weight: bold;
  font-family: "Helvetica", Arial, sans-serif;
}

div#user_page a:visited{
  color: #2e2e1f;
  font-weight: bold;
  font-family: "Helvetica", Arial, sans-serif;
}


label {
  display: inline;
  font-weight: normal;
}

p.eventDesc {
  font-size: small;
  display: inline;
  font-weight: normal;
}

img{
  float: left;
  margin: 10px 10px 10px 10px;
}