html, body {
  margin: 0em;
  padding: 0em;
  background-color: #29516D;
}

div#authenticationBox {
  position:absolute;
  top: 20%;
  bottom: 20%;
  left: 25%;
  right: 25%;
  height: 60%;
  width:  50%;
}

#authenticationBox ul{
  width: 100%;
  margin: 0rem;
  padding:0rem;
  list-style: none;
  border-width:0px;
  color: white;
  font-family: "Helvetica", sans-serif;
}

#authenticationBox li {
  display: inline;
  background-color: #123752;
  font-size: 2rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  border-style: solid;
  border-bottom-width: 1px;
  cursor: pointer;
}

#authenticationBox li:hover {
  background-color: #486E88;
}

div#form {
  height: 50%;
  background-color: #29516D;
  border-bottom-left-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  border-color: white;
  border-style: solid;
}

div#authenticationBox input {
  margin-top: 2em;
}
